#boardcontainer {
  display: flex;
  justify-content: center;
  gap: 50px;
}

#playerboard {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
}

.playersquare {
  border: 1px solid #999999;
  box-sizing: border-box;
  width: 10%;
  height: 10%;
  border-radius: 10px;
}

.playersquare:hover {
  background-color: #555555;
}

#computerboard {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
}

.computersquare {
  border: 1px solid #999999;
  box-sizing: border-box;
  height: 10%;
  width: 10%;
  border-radius: 10px;
}

.computersquare:hover {
  background-color: #555555;
}

#computeroverlay {
  position: absolute;
  width: 500px;
  height: 500px;
  background-color: rgba(100, 100, 100, 0.5);
}

#boardtitlecontainer {
  display: flex;
  justify-content: center;
  gap: 50px;
}

#playerboardtitle {
  width: 500px;
  text-align: center;
}

#computerboardtitle {
  width: 500px;
  text-align: center;
}

.occupied {
  border: 1px solid #999999;
  box-sizing: border-box;
  height: 10%;
  width: 10%;
  background-color: #999999;
}

.hit {
  background-color: #FF5733 !important;
}

.miss {
  background-color: #FFBD33 !important;
}