#boardcontainer {
  display: flex;
  justify-content: center;
  gap: 50px;
}

#playerboard {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
}

.playersquare {
  border: 1px solid #999999;
  box-sizing: border-box;
  width: 10%;
  height: 10%;
}

#computerboard {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
}

.computersquare {
  border: 1px solid #999999;
  box-sizing: border-box;
  height: 10%;
  width: 10%;
}

.computersquare:hover {
  background-color: #555555;
}

#boardtitlecontainer {
  display: flex;
  justify-content: center;
  gap: 50px;
}

#playerboardtitle {
  width: 500px;
  text-align: center;
}

#computerboardtitle {
  width: 500px;
  text-align: center;
}

.occupied {
  border: 1px solid #999999;
  box-sizing: border-box;
  height: 10%;
  width: 10%;
  background-color: #999999;
}

.hit {
  background-color: #FF5733 !important;
}

.miss {
  background-color: #FFBD33 !important;
}