#board-container {
  display: flex;
  background-color: #000f1a;
}

#player-board {
  display: flex;
  flex-wrap: wrap;
  background-color: #517a97;
  border: 1px solid #517a97;
  box-sizing: border-box;
  width: 500px;
  height: 500px;
}

.player-square {
  border: 1px solid #000f1a;
  box-sizing: border-box;
  width: 10%;
  height: 10%;
}

#computer-board {
  display: none;
  flex-wrap: wrap;
  background-color: #517a97;
  border: 1px solid #517a97;
  box-sizing: border-box;
  width: 500px;
  height: 500px;
  margin-left: auto;
}

.computer-square {
  border: 1px solid #000f1a;
  box-sizing: border-box;
  height: 10%;
  width: 10%;
}

.computer-square:hover {
  background-color: #ffffff;
}

#player-info-container {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: #000f1a;
}

#player-title {
  width: 200px;
  font-size: 2rem;
  margin: 0;
}

#computer-title {
  width: 200px;
  font-size: 2rem;
  margin: 0;
}

.placing {
  background-color: #efefef;
  opacity: 0.5;
}

.placed {
  background-color: #efefef;
}

.hit {
  background-color: red !important;
}

.miss {
  background-color: #000f1a !important;
}

.valid {
  background-color: green;
}

.invalid {
  background-color: red !important;
  opacity: 1;
  cursor: not-allowed;
}

#player-info {
  display: flex;
  align-items: center;
  width: 500px;
}

#computer-info {
  display: none;
  align-items: center;
  width: 500px;
  margin-left: auto;
}

.played {
  background-color: #efefef;
}
