#buttons {
  display: flex;
  justify-content: space-between;
}

#start-button {
  width: 150px;
  height: 50px;
  display: none;
  box-sizing: border-box;
  border: 0;
  padding: 0;
  line-height: 20px;
}

#reset-button {
  width: 150px;
  height: 50px;
  display: none;
  box-sizing: border-box;
  border: 0;
  padding: 0;
  line-height: 20px;
}

#direction-button {
  width: 150px;
  height: 50px;
  text-align: center;
  box-sizing: border-box;
  border: 0;
  padding: 0;
  line-height: 20px;
}

#play-again-button {
  width: 150px;
  height: 50px;
  box-sizing: border-box;
  border: 0;
  padding: 0;
  line-height: 20px;
}
