#buttoncontainer {
  display: flex;
  justify-content: center;
  gap: 50px;
}

#startbutton {
  width: 150px;
  height: 50px;
  font-size: 1rem;
  display: none;
}

#resetbutton {
  width: 150px;
  height: 50px;
  font-size: 1rem;
  display: none;
}

#orientationbutton {
  width: 150px;
  height: 50px;
  font-size: 1rem;
  text-align: center;
}

#shipbuttons {
  display: flex;
  justify-content: space-between;
}