#buttons {
  grid-row-start: 11;
  grid-row-end: 12;
  grid-column-start: 3;
  grid-column-end: 6;
}

#start-button {
  display: none;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 20px;
  font-size: 1rem;
  font-family: var(--font-with-fallbacks);
}

#reset-button {
  display: none;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 20px;
  font-size: 1rem;
  font-family: var(--font-with-fallbacks);
}

#direction-button {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 20px;
  font-size: 1rem;
  font-family: var(--font-with-fallbacks);
}
