#footer {
  display: flex;
  justify-content: space-between;
  max-height: 64px;
  background-color: var(--color-bkg-dark-blue);
  margin-top: auto;
}

#footer-self {
  display: flex;
  align-items: flex-end;
  max-height: 64px;
}

#footer-self-text {
  font-family: var(--Bungee-font-with-fallbacks);
  color: white;
}

#footer-self-logo {
  align-self: center;
  max-height: 64px;
}

#footer-other {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  max-height: 64px;
}

#footer-odin-logo {
  max-height: 64px;
}
