#header {
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 3;
  text-align: center;
  background-color: var(--color-bkg-dark-blue);
}

#header-text {
  font-size: 3rem;
  font-family: var(--font-with-fallbacks);
  color: white;
}
