:root {
  --color-bkg-dark-blue: #000f1a;
  --color-bkg-medium-blue: #032842;
  --color-bkg-light-blue: #517a97;
  --border-light-blue: 1px solid #517a97;
  --border-dark-blue: 1px solid #000f1a;
  --less-than-white: #f2f2f2;
  --Bungee-font-with-fallbacks: 'Bungee', Arial, Helvetica, sans-serif;
  --button-hover: #bfbfbf;
  --button-active: #b3b3b3;
}
