#playerboard {
  border: 1px solid #999999;
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  border-radius: 10px;
}

.playersquare {
  border: 1px solid #999999;
  box-sizing: border-box;
  width: 10%;
  height: 10%;
  border-radius: 10px;
}

.playersquare:hover {
  background-color: #555555;
}