#playerboard {
  border: 1px solid #999999;
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
}

.playersquare {
  border: 1px solid #999999;
  box-sizing: border-box;
  height: 10%;
  width: 10%;
}

.occupied {
  border: 1px solid #999999;
  box-sizing: border-box;
  height: 10%;
  width: 10%;
  background-color: #999999;
}

.playersquare:hover {
  background-color: #555555;
}