#ship-container {
  width: 275px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

#ships {
  width: 250px;
  height: 450px;
  display: flex;
  gap: 1px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#buttons {
  gap: 25px;
}

.ship-square {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
}

#carrier {
  display: flex;
  background-color: #EFEFEF;
  box-sizing: border-box;
}

#battleship {
  display: flex;
  background-color: #EFEFEF;
  box-sizing: border-box;
}

#destroyer {
  display: flex;
  background-color: #EFEFEF;
  box-sizing: border-box;
}

#submarine {
  display: flex;
  background-color: #EFEFEF;
  box-sizing: border-box;
}

#patrol-boat {
  display: flex;
  background-color: #EFEFEF;
  box-sizing: border-box;
}

.ship-selected {
  border: 2px solid white !important;
}

.ship:hover {
  border-color: white !important;
}

.carrier {
  background-color: #EFEFEF;
  border: 1px solid #000F1A;
}

.battleship {
  background-color: #EFEFEF;
  border: 1px solid #000F1A;
}

.destroyer {
  background-color: #EFEFEF;
  border: 1px solid #000F1A;
}

.submarine {
  background-color: #EFEFEF;
  border: 1px solid #000F1A;
}

.patrol-boat {
  background-color: #EFEFEF;
  border: 1px solid #000F1A;
}