#ship-container {
  width: 275px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

#ships {
  width: 250px;
  height: 450px;
  display: flex;
  gap: 1px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#buttons {
  gap: 25px;
}

.ship-square {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
}

#carrier {
  display: flex;
  background-color: #efefef;
  box-sizing: border-box;
}

#battleship {
  display: flex;
  background-color: #efefef;
  box-sizing: border-box;
}

#destroyer {
  display: flex;
  background-color: #efefef;
  box-sizing: border-box;
}

#submarine {
  display: flex;
  background-color: #efefef;
  box-sizing: border-box;
}

#patrol-boat {
  display: flex;
  background-color: #efefef;
  box-sizing: border-box;
}

#ships .ship-selected {
  background-color: #bdbdbd;
}

#ships .ship:hover {
  background-color: #bdbdbd;
}

.carrier {
  background-color: #efefef;
  border: 1px solid #000f1a;
}

.battleship {
  background-color: #efefef;
  border: 1px solid #000f1a;
}

.destroyer {
  background-color: #efefef;
  border: 1px solid #000f1a;
}

.submarine {
  background-color: #efefef;
  border: 1px solid #000f1a;
}

.patrol-boat {
  background-color: #efefef;
  border: 1px solid #000f1a;
}

.sunk {
  background-color: #400000 !important;
}
