#player-status {
  display: flex;
  align-items: center;
  width: 300px;
  height: 50px;
}

#player-status-text {
  margin-left: auto;
}

#computer-status {
  display: flex;
  align-items: center;
  width: 300px;
  height: 50px;
}

#computer-status-text {
  margin-left: auto;
}