#gamestatuscontainer {
  display: flex;
  justify-content: center;
  gap: 50px;
}

#playerstatus {
  display: none;
  width: 500px;
  background-color: #1a1a1a;
}

#computerstatus {
  display: none;
  width: 500px;
  background-color: #1a1a1a;
}