@media only screen and (max-width: 1050px) {
  #title {
    font-size: 1.8rem;
  }
  #main {
    width: 630px;
  }
  #board-container {
    height: 300px;
  }
  #player-info-container {
    height: 30px;
  }
  #player-title {
    width: 200px;
    font-size: 1.2rem;
  }
  #computer-title {
    width: 200px;
    font-size: 1.2rem;
  }
  #player-status-text {
    font-size: 0.65rem;
  }
  #computer-status-text {
    font-size: 0.65rem;
  }
  #player-info {
    width: 300px;
  }
  #computer-info {
    width: 300px;
  }
  #player-board {
    width: 300px;
    height: 300px;
  }
  #computer-board {
    width: 300px;
    height: 300px;
  }
  #ship-container {
    width: 165px;
  }
  #ships {
    width: 150px;
  }
  .ship-square {
    width: 30px;
    height: 30px;
  }
  #start-button {
    width: 105px;
    height: 30px;
    font-size: 0.65rem;
  }
  #direction-button {
    width: 90px;
    height: 30px;
    font-size: 0.65rem;
  }
  #player-status {
    width: 300px;
  }
  
  #computer-status {
    width: 300px;
  }

  #overlay {
    width: 630px;
    height: 300px;
  }
}